<div class="container-fluid" style="border-style: inset;">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
      <div class="logo-area pointer">
        <h2>LOGO
          <span>AREA</span>
        </h2>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div>
        <h2>CENTER
          <span>AREA</span>
        </h2>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div>
        <h2>SIDE-HEADER
          <span>AREA</span>
        </h2>
      </div>
    </div>
  </div>
</div>